.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/**/build/

.idea/
.fleet/
*.iml
local.properties

.DS_Store
*.log

captures/
.externalNativeBuild/
.cxx/

xcuserdata/
*.xcworkspace/xcuserdata/

kotlin-js-store/
